{% extends 'base/base_administrador.html'%}
{% load static %}


{% block header %}
<button onclick="location.href='/core/homeAdministrador'" style="text-decoration:none"
    class="rounded-1 btn  btn-outline-secondary text-white ">Administrador:{% if administrador %}{{administrador.nombre}} {{administrador.apellido}}{% endif %}</button>
{% endblock header %}

{% block headerContenido %}
{% endblock headerContenido %}
{% block content %}

<div class="formularioHotel" id="vistaHoteles">
    <center>
        <h1 class="my-4">LISTADO DE HOTELES</h1>
        <h5 style="color: red;"> No comercializable</h3>
        <h5 style="color: green;"> listo para comercializar</h3>
    </center>

    <table id="example1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <button type="button" class="btn btn-success ml-4 float-right btn-sm" data-toggle="modal"
                    data-target="#crearHotel" onclick="abrir_modal('{% url 'hotel:modalCrearHotel' %}','#crearHotel');">
                    <i class="fas fa-plus-circle"></i>AÑADIR
                    <th>Nombre</th>
                    <th>Localidad</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Encargado</th>
                    <th>Categoria</th>

            </tr>
        </thead>
        <tbody>
            {% for hotel in colHoteles %}

            <tr class="{% if hotel.es_comercializable%}
            comercializable manito
            {% else %}
            noComercializable manito
            {% endif%}
            " data-navigate="{% url 'hotel:vistaHotel' hotel.pk %}">
                <div class="pepito">
                    <td>{{hotel.nombre}}</td>
                    <td>{{hotel.localidad}}</td>
                    <td>{{hotel.direccion}}</td>
                    <td>{{hotel.email}}</td>
                    <td>{{hotel.telefono}}</td>
                    <td>{{hotel.encargado.persona.nombre}} {{hotel.encargado.persona.apellido}}</td>
                    <td>{{hotel.categoria.nombre}}</td>

                </div>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Encargado</th>
                <th>Categoria</th>

            </tr>
        </tfoot>
    </table>

    <!--Modal crear Hotel en otro html-->

    <div class="modal fade-scale" id="crearHotel" tabindex="-1" aria-labelledby="exampleModalLabel">
    </div>

</div>

{% endblock content %}

{% block extrajs %}

<script type="text/javascript">
    //SCRIPT DE DATATABLE
    const $ = jQuery.noConflict();
    $(document).ready(function () {
        $('#example1').DataTable();
        $('tr:even').removeClass('even');
        $('tr:odd').removeClass('odd');
    });

    $('[data-navigate]').on('click', (event) => {
        event.stopPropagation();
        let data = $(event.currentTarget).data();
        console.log(data);
        location.assign(data.navigate);
    });
</script>


{% endblock extrajs%}