{% load static %}

<html>

<head>
    <link rel="icon" type="image/png" href="/static/icons/hotelIco.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--SWEET ALERT CSS-->
    <link rel="stylesheet" href="{% static '/css/sweetalert2.css' %}">
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    
    <!-- Bootstrap CSS para datatable-->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/dataTables.bootstrap4.min.css' %}">
    <!-- Bootstrap CSS para datatable-->

    <!-- FONTAWESOME -->
    <script src="{% static '/js/d91d4c71ff.js' %}"></script>

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{% static '/css/styleBase.css' %}">
    <link rel="stylesheet" href="{% static '/css/modal.css' %}">
    <link rel="stylesheet" href="{% static '/css/botones.css' %}">
    
    
    {% block extra_css %}
    <style>

        .titulos{
            margin-top: 50px;
            background-color: aqua;
        }
    </style>

    {% endblock extra_css %}
</head>

<body class="bodyComplete">


    <!-- HEADER -->
    <div class="container-fluid mainHeader p-3 fixed-top">
        <div class="row">
            <div>
                <button id="hamburger-menu" class="btn btn-primary d-none menu position-absolute dis" style="z-index: 100;">
                    ☰
                </button>
            </div>
            <div class="col-8">
                {% block header %}
                
                {% endblock header %}
                
            </div>
            <div class="col-2">
                {% block headerContenido %}
                
                {% endblock headerContenido %}

             {% block carrito %}
             {% endblock carrito %}
            </div>
            <div class="col-2">
         
                {% block cerrarSecion %}
                    <button onclick="location.href='/core/logout'" style="text-decoration:none; align-items:right;"
                    class="botonCerrarSesion rounded-1 btn btn-lg btn-outline-secondary text-white float-center mt-1  "> Cerrar Sesion
                    </button>
                {% endblock cerrarSecion %}
  
            </div>
        </div>
    </div>
    

    <!-- opciones + contenido -->
<div class="container-fluid position-fixed miEstiloPiola">
    <div class="row">
        <!-- Botón Dropdown -->
        <button id="dropdown-menu" class="btn btn-primary">☰ Menú</button>
        <div id="dropdown-content">
                {% block tarjeta1_responsive %} {% endblock tarjeta1_responsive %}
                {% block tarjeta2_responsive %} {% endblock tarjeta2_responsive %}
                {% block tarjeta3_responsive %} {% endblock tarjeta3_responsive %}
                {% block tarjeta4_responsive %} {% endblock tarjeta4_responsive %}
                {% block tarjeta5_responsive %} {% endblock tarjeta5_responsive %}
                {% block tarjeta6_responsive %} {% endblock tarjeta6_responsive %}
                {% block tarjeta7_responsive %} {% endblock tarjeta7_responsive %}
                {% block tarjeta8_responsive %} {% endblock tarjeta8_responsive %}
        </div>

        <!-- SIDEBAR -->
        <div class="col-2 px-1 d-none d-lg-block" id="sticky-sidebar">
            <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2 pt-4 cartas">
                {% block tarjeta1 %} {% endblock tarjeta1 %}
                {% block tarjeta2 %} {% endblock tarjeta2 %}
                {% block tarjeta3 %} {% endblock tarjeta3 %}
                {% block tarjeta4 %} {% endblock tarjeta4 %}
                {% block tarjeta5 %} {% endblock tarjeta5 %}
                {% block tarjeta6 %} {% endblock tarjeta6 %}
                {% block tarjeta7 %} {% endblock tarjeta7 %}
                {% block tarjeta8 %} {% endblock tarjeta8 %}
            </div>
        </div>

        <!-- CONTENIDO -->
        <div class="col-lg-10 col-12 position-relative pre-scrollable" id="main">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>





    <style>

        
        @media (max-width: 1100px) {
            #hamburger-menu {
                display: block;
                margin-top: 30px;
            }


            .botonCerrarSesion{
                width: 100px;
                height: 50px;
                font-size: small;
            }

        }

    </style>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const sidebar = document.getElementById('sticky-sidebar');
            const hamburgerMenu = document.getElementById('hamburger-menu');
            const body = document.getElementById('main');
            
            // Función para controlar el estado del sidebar
            const checkSidebar = () => {
                if (window.innerWidth > 1100) {
                    sidebar.classList.remove('active');
                    sidebar.classList.remove('col-3');
                    sidebar.classList.add('col-2');
                    body.classList.remove('col-9');
                    body.classList.remove('col-12');
                    body.classList.add('col-10');
                } else if (window.innerWidth >= 995 && window.innerWidth <= 1100) {
                    sidebar.classList.add('col-2');
                    body.classList.remove('col-10');
                    body.classList.remove('col-12');
                    body.classList.add('col-8'); // Asegura que el body ocupe el espacio restante
                } else if (window.innerWidth >= 900 && window.innerWidth <= 995) {
                    sidebar.classList.add('col-2');
                    body.classList.remove('col-10');
                    body.classList.remove('col-8');
                    body.classList.add('col-12'); // Asegura que el body ocupe el espacio restante
                } else if (window.innerWidth < 900) {
                    sidebar.classList.remove('col-2');
                    sidebar.classList.remove('col-3');
                    body.classList.remove('col-10');
                    body.classList.remove('col-9');
                    body.classList.add('col-12'); // El body ocupa todo el ancho
                }
            };

            // Evento de clic en el menú hamburguesa
            hamburgerMenu.addEventListener('click', () => {
                sidebar.classList.toggle('active');
            });

            // Detectar cambios en el tamaño de la pantalla
            window.addEventListener('resize', checkSidebar);

            // Llamar la función al cargar la página para establecer el estado inicial
            checkSidebar();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dropdownMenu = document.getElementById('dropdown-menu');
            const dropdownContent = document.getElementById('dropdown-content');

            dropdownMenu.addEventListener('click', () => {
                dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
            });

            document.addEventListener('click', (event) => {
                if (!dropdownMenu.contains(event.target) && !dropdownContent.contains(event.target)) {
                    dropdownContent.style.display = 'none';
                }
            });
        });
    </script>

    <!-- Footer -->
    <div class="footer text-center mb-0 fixed-bottom">
        <div class="container">
            {% block footer %}

            {% endblock footer %}
            <p class="m-0 mbt1 text-white">&copy; UNPSJB - GRUPO 1 - DESARROLLO DE SOFTWARE</p>
        </div>
    </div>


    <!--sweet alert2-->
    
    <script src="{% static '/js/sweetalert2@10.js' %}"></script>
    
    <!-- Bootstrap 4.5-->
    <script src="{% static '/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static '/js/bootstrap.bundle.js' %}"></script>
    
    <script src="{% static '/js/bootstrap-datetimepicker.min.js' %}"></script>

    <!--dataTable jquery + bootstrap + popper include-->
    <script src="{% static 'js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static '/js/dataTables.bootstrap4.min.js'%}"></script>
    
    <!--scripts personalizados-->
    <script src="{% static '/js/main.js' %}"></script>

     <!--sweet alert2-->
    <script src="{% static '/js/sweetalert2@10.js' %}"></script>
    
   

    <!--dataTable jquery + bootstrap + popper include-->
    <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
  

    <!--scripts personalizados-->
   
    <script src="{% static '/js/main.js' %}"></script>

    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{% static '/css/styleBase.css' %}">
    <link rel="stylesheet" href="{% static '/css/modal.css' %}">
    <link rel="stylesheet" href="{% static '/css/botones.css' %}">
   
    {% block extrajs %}
    {% endblock %}

</body>


</html>

