{% extends 'base/base.html'%}
{% load static %}






{% block tarjeta1 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button onclick="location.href = '/venta/listado_liquidaciones'"  class="btn btn-link btn-block text-white">
            <center>
                <h5> Liquidacion / Abonar</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta1 %}
{% block tarjeta2 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button  onclick="location.href = '/core/servicio'" class="btn btn-link btn-block text-white">
            <center>
                <h5> Servicios</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta2 %}
{% block tarjeta3 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button onclick="location.href = '/core/vendedor'" class="btn btn-link btn-block text-white">
            <center>
                <h5> Vendedores/
                    Encargados
                </h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta3 %}
{% block tarjeta4 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button  onclick="location.href = '/core/tipoHabitacion'" class="btn btn-link btn-block text-white">
            <center>
                <h5> Tipos Habitaciones</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta4 %}
{% block tarjeta5 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button  onclick="location.href = '/core/categoria'" class="btn btn-link btn-block text-white">
            <center>
                <h5> Categorias</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta5 %}
{% block tarjeta6 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button onclick="location.href = '/core/region'" class="btn btn-link btn-block text-white">
            <center>
                <h5> Regiones</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta6 %}

{% block tarjeta7 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button onclick="location.href = '/core/clienteAdmin'" class="btn btn-link btn-block text-white">
            <center>
                <h5> Clientes</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta7 %}

{% block content %}
    
{% endblock content %}

{% block extrajs %}
{% endblock %}

{% block footer %}
{% endblock footer %}

