{% extends 'base/base.html'%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/vistaHotel.css' %}">
<style>

    li a.custom-btn:hover {
        background-color: #054f52;
    }

    .active {
        background-color: #054f52; /* Cambia el color de fondo */
        color: rgb(19, 18, 18); /* Asegúrate de que el texto sea legible */
        font-weight: bold;
    }

    .imagen-perfil {
        width: 60px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50px;
    }


</style>
      
{% endblock extra_css %}

{% block tarjeta1_responsive %} 
        <a href="/hotel/hotel" id="#dropdown-content">
            Hoteles
        </a>
{% endblock tarjeta1_responsive %}

{% block tarjeta2_responsive %}
        <a href="/venta/listado_liquidaciones" id="#dropdown-content">
            Liquidación / Abonar
        </a>
{% endblock tarjeta2_responsive %}

{% block tarjeta3_responsive %}
        <a href="/core/servicio" id="#dropdown-content">
            Servicios
        </a>
{% endblock tarjeta3_responsive %}

{% block tarjeta4_responsive %}
        <a href="/core/vendedores" id="#dropdown-content">
            Vendedores / Encargados
        </a>
{% endblock tarjeta4_responsive %}

{% block tarjeta5_responsive %}
        <a href="/core/tipoHabitacion" id="#dropdown-content">
            Tipos Habitaciones
        </a>
{% endblock tarjeta5_responsive %}

{% block tarjeta6_responsive %}
        <a href="/core/categoria" id="#dropdown-content">
            Categorías
        </a>
{% endblock tarjeta6_responsive %}

{% block tarjeta7_responsive %}
        <a href="/core/region" id="#dropdown-content">
            Regiones
        </a>
{% endblock tarjeta7_responsive %}

{% block tarjeta8_responsive %}
        <a href="/core/clienteAdmin" id="#dropdown-content">
            Clientes
        </a>
{% endblock tarjeta8_responsive %}

{% block tarjeta1 %}
    <li class="{% if request.path == '/hotel/hotel' %}active{% endif %}">
        <a href="/hotel/hotel" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Hoteles</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta1 %}

{% block tarjeta2 %}
    <li class="{% if request.path == '/venta/listado_liquidaciones' %}active{% endif %}">
        <a href="/venta/listado_liquidaciones" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Liquidación / Abonar</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta2 %}

{% block tarjeta3 %}
    <li class="{% if request.path == '/core/servicio' %}active{% endif %}">
        <a href="/core/servicio" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Servicios</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta3 %}

{% block tarjeta4 %}
    <li class="{% if request.path == '/core/vendedores' %}active{% endif %}">
        <a href="/core/vendedores" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Vendedores / Encargados</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta4 %}

{% block tarjeta5 %}
    <li class="{% if request.path == '/core/tipoHabitacion' %}active{% endif %}">
        <a href="/core/tipoHabitacion" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Tipos Habitaciones</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta5 %}

{% block tarjeta6 %}
    <li class="{% if request.path == '/core/categoria' %}active{% endif %}">
        <a href="/core/categoria" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Categorías</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta6 %}

{% block tarjeta7 %}
    <li class="{% if request.path == '/core/region' %}active{% endif %}">
        <a href="/core/region" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Regiones</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta7 %}

{% block tarjeta8 %}
    <li class="{% if request.path == '/core/clienteAdmin' %}active{% endif %}">
        <a href="/core/clienteAdmin" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Clientes</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta8 %}




{% block content %}
    
{% endblock content %}

{% block extrajs %}

{% endblock %}

{% block footer %}
{% endblock footer %}

