{% extends 'base/base.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/vistaHotel.css' %}">
<link rel="stylesheet" href="{% static '/css/styleBase.css' %}">
<style>

    li a.custom-btn:hover {
        background-color: #054f52;
    }

    .active {
        background-color: #054f52;
        color: #fff;
        font-weight: bold;
    }
    .imagen-perfil {
        width: 60px;
        height: 50px;
        border-radius: 50%;
        margin-left: 50px;
    }
</style>

      
{% endblock extra_css %}


{% block tarjeta1_responsive %} 
        <a href="/venta/vendedor" id="#dropdown-content">
            Hoteles
        </a>
{% endblock tarjeta1_responsive %}

{% block tarjeta2_responsive %}
        <a href="/venta/vistaCliente/" id="#dropdown-content">
            Clientes
        </a>
{% endblock tarjeta2_responsive %}

{% block tarjeta1 %}
    <li class="{% if request.path == '/venta/vendedor' %}active{% endif %}">
        <a href="/venta/vendedor" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Hoteles</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta1 %}

{% block tarjeta2 %}
    <li class="{% if request.path == '/venta/vistaCliente/' %}active{% endif %}">
        <a href="/venta/vistaCliente/" class="custom-btn btn btn-block text-white text-decoration-none">
            <center>
                <h5>Clientes</h5>
            </center>
        </a>
    </li>
{% endblock tarjeta2 %}




{% block extrajs %}
{% endblock %}