{% extends 'base/base_vendedor.html'%}
{% load static %}

{% block header %}

{% endblock header %}

{% block carritoz %}
{% block carrito %}
<style>
.container22 {
    display: flex;
    flex-direction: row;
}

@media (max-width: 992px) {
    .container22 {
        display: flex;
        flex-direction: row;
        align-items:center;
        float: left;
    }
}
    
</style>

<div class="container22 float-right mt-2">

    <button onclick="abrir_carrito();" style="text-decoration:none"
        class="rounded-1 btn btn-lg btn-outline-secondary text-white float-right mt-1" > <i
            class="fas fa-shopping-cart"><span class="badge badge-danger ml-2 mt-0" style="font-size:10px;"
                id="carrito_contador">{%block carrito_contador %} {% endblock carrito_contador%}</span></i>
    </button>
    <button onclick="location.href='/venta/vaciar_carrito_completo'" style="text-decoration:none" class="rounded-1 btn btn-sm btn-outline-secondary text-white ml-4 mt-2" title="Vaciar carrito">
        <i class="fas fa-trash"></i> </button>

</div>

{% endblock carrito %}
{% endblock carritoz %}




{% block content %}
<p>
<h1>AQUI LAS COSAS DEL VENDEDOR</h1>
</p>

<p>
<h1>LISTADO DE HOTELES, EL DATE PICKER ETC</h1>
</p>
{% endblock %}

{% block extrajs %}
{% endblock %}