{% extends 'base/vendedor.html'%}
{% load static %}


{% block header %}
<button onclick="  location.href='/venta/vendedor'" style="text-decoration:none"
    class="rounded-1 btn btn-sm btn-outline-secondary text-white ml-4 mt-1"> VENDEDOR: {{vendedor.persona.nombre.upper}}
    {{vendedor.persona.apellido.upper}} </button>
{% endblock header %}

{% block carritoz %}

{%block carrito_contador %} {%if not contador%}0{% else %}{{contador}} {%endif%} {% endblock carrito_contador%}
{% endblock carritoz %}


{% block content %}


<div class="ventaVendedor" id="vendedor">
    <center>
        <h1 class="my-4">LISTADO DE HOTELES</h1>
    </center>

    <div>
        <center>
            <h5 class="my-4">PREFERENCIAS DEL CLIENTE : {%if request.session.nombre_cliente%}
                                                            {{ request.session.nombre_cliente }}
                                                            {{ request.session.apellido_cliente }}
                                                        {% else %}
                                                            No se selecciono cliente
                                                        {% endif %}
                                                            
            </h5>
        </center>
        
        <form id="form_preferencias_cliente" onsubmit="return evitar_envio(event)"
            action="{%url 'venta:iniciar_venta'%} " method="POST">
            {% csrf_token %}
            <label for="fecha1"> fecha inicio: </label>
            <input type="date" id="fecha1" name="fecha_inicio" value="{{ fecha_inicio }}" min="" max="" onclick="fecha_actual();">
            <label for="fecha2"> fecha fin: </label>
            <input type="date" id="fecha2" name="fecha_fin" value= "{{ fecha_fin }}" min=" max=" onclick="fecha_minima();">
            <label for="pasajeros"> Nª Pasajeros: </label>
            <input type="number" id="pasajeros" name="pasajeros" value="{{ pasajeros }}" min=1>
            <input type="submit" id="filtrar" name="filtrar">
            <button><a href="{%url 'venta:limpiar_preferencias'%}"> limpiar Preferencias</a></button>
            

        </form>

    </div>

    <table id="example1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Encargado</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in colHoteles %}
            <tr class="{% if hotel.dispuesto %}
                    comercializable manito
                    {% else %}
                    noComercializable manito
                    {% endif%}" {% if hotel.dispuesto %} onclick="evitar_ingreso({{hotel.id}});" {% else %} onclick="Swal.fire({ icon: 'error',
                        title: 'Preferencias no arroja resultados',
                        text: 'La busqueda no arroja resultados en este Hotel',
                        });" {% endif %}>

                        <div class="pepito">
                            <td>{{hotel.nombre}}</td>
                            <td>{{hotel.localidad}}</td>
                            <td>{{hotel.direccion}}</td>
                            <td>{{hotel.email}}</td>
                            <td>{{hotel.telefono}}</td>
                            <td>{{hotel.encargadoNombre}} {{hotel.encargadoApellido}}</td>
                            <td>{{hotel.categoria.nombre}}</td>

                        </div>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Encargado</th>
                <th>Categoria</th>

            </tr>
        </tfoot>
    </table>
</div>

{% endblock content %}

{% block extrajs %}

<script type="text/javascript">
    //SCRIPT DE DATATABLE
    const $ = jQuery.noConflict();
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>


<script type="text/javascript">
 
    function evitar_envio(e) {
        e.preventDefault();
        if (document.getElementById('fecha1').value && document.getElementById('fecha2').value && document.getElementById('pasajeros').value) {
            console.log("Campos completos");
            Swal.fire({
                icon: 'success',
                title: 'Preferencias del Cliente Aplicadas',
                showConfirmButton: false,
                timer: 500
            })
            
            setTimeout(function () {
                document.getElementById('form_preferencias_cliente').submit();
            }, 500);
        }
        else {
            let inicio = fin = pasajeros = "";
            if (document.getElementById('fecha1').value == '') { inicio = (" *Fecha de Inicio* "); }
            if (document.getElementById('fecha2').value == '') { fin = (" *Fecha fin* "); }
            if (document.getElementById('pasajeros').value == '') { pasajeros = (" *Cantidad de Pasajeros* "); }
            Swal.fire({
                icon: 'error',
                title: 'Formulario Incompleto',
                text: "FALTA COMPLETAR: " + inicio + " " + fin + " " + pasajeros,
                footer: 'Por favor complete los campos para continuar'
            })
        }
    };
</script>

<script type="text/javascript">
    var respuesta = "{{formulario_enviado}}";
    console.log(respuesta);
    function evitar_ingreso(hotel) {
        if (respuesta == "no_enviado") {
            let inicio = fin = pasajeros = envio = "";
            if (document.getElementById('fecha1').value == '') { inicio = (" *Fecha de Inicio* "); }
            if (document.getElementById('fecha2').value == '') { fin = (" *Fecha fin* "); }
            if (document.getElementById('pasajeros').value == '') { pasajeros = (" *Cantidad de Pasajeros* "); }
            if (respuesta == "no_enviado") { envio = (" * Formulario no ha sido enviado") }
            Swal.fire({
                icon: 'error',
                title: 'Formulario Incompleto',
                text: "FALTA COMPLETAR: " + inicio + " " + fin + " " + pasajeros + " " + envio,
                footer: 'Por favor complete los campos para continuar'
            })
        }
        else {
            var url='buscarHabitaciones/';
            window.location.href=url+hotel;
            console.log(hotel)
            console.log(dire)
            
        }

    };
</script>

{% endblock extrajs%}