.modal{

    margin: 10vh;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000000;
    opacity: 1;  
    }
.modal-header{
    background-color:#0D6F73;
    padding-left: 0;
}
.modal-title{
    color:white;
    width:100%;
    text-align: center;
    position: absolute;
}

/*
.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
  }
  
  .fade-scale.in {
    opacity: 1;
    transform: scale(1);
  }
*/
.laSeleccionBox {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-auto-rows: auto;
    
}

.laSeleccionBox li {
    list-style-type: none;
    margin: 0px 3vh 0px 3vh;
}

.posicion-checkbox{
    left: 40px;
    padding-left: 35px;
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto;
}
.modal{
    height: 80%;
    
}
