<div class="modal-xl modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title " id="exampleModalLabel">
                ELIMINAR PAQUETE TURISTICO: {{paquete.nombre.upper}}
                
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="{% url 'hotel:modalEliminarPaqueteTuristicoHotel' hotel.pk paquete.pk %}" method="POST">
        <div class="modal-body">
            
            {% csrf_token %}
            <p>Seguro que desea eliminar de <strong>{{hotel}}</strong></p>
            <p>El paquete <strong>{{paquete.nombre}}</strong> ?</p>
            <p>Presione "ACEPTAR" para confirmar!!!!</p>
           
        </div>
        <div class="modal-footer">
            <button type="dismiss" class="Cerrar" data-dismiss="modal">Cerrar</button>
            <button type="submit" name="accion" class="Guardar" value="tipoHabitacion">Aceptar</button>

        </div>
        </form>
    </div>
</div>