{% extends 'base/base_administrador.html'%}
{% load static %}
{% block header %}
<button onclick="location.href='/core/homeAdministrador'" style="text-decoration:none"
    class="rounded-1 btn  btn-outline-secondary text-white ">Administrador:{% if administrador %}{{administrador.nombre}} {{administrador.apellido}}{% endif %}</button>
{% endblock header %}


{% block headerContenido %}
{% endblock headerContenido %}


{% block content %}
<div class="formularioRegion" id="vistaLocalidades">

<center><h1 class="my-4">LISTADO DE SERVICIOS</h1></center>


    <table id="example1" class="table table-striped table-bordered" style="width:100%">

        <thead>

            <tr>

                <button type="button" class="btn btn-success ml-4 float-right btn-sm" data-toggle="modal"
                    data-target="#crearServicio"
                    onclick="abrir_modal('{% url 'core:modalCrearServicio' %}','#crearServicio');">
                    
                    <i class="fas fa-plus-circle"></i>
                    AÑADIR</button>
                <th>Nombre</th>
                <th>Descripcion</th>
                

                <th>

                    <Center>Modificar</Center>
                </th>
            </tr>
        </thead>
        <tbody>


            {% for servicio in colServicios %}


            <tr>
                <td>{{servicio.nombre}}</td>
                <td>{{servicio.descripcion}}</td>
                <td>
                    <center>
                        <button type="button" class="btn btn-warning" data-toggle="modal"
                            data-target="#modificarServicio"
                            onclick="abrir_modal('{% url 'core:modalModificarServicio' servicio %}','#modificarServicio');">
                            <i class="fas fa-edit"></i>
                        </button>
                    </center>

                </td>
            </tr>
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>
                    <Center>Modificar</Center>
                </th>

            </tr>
        </tfoot>
    </table>

    <!--Modal crear Servicio en otro html-->

    <div class="modal fade-scale" id="crearServicio" tabindex="-1" aria-labelledby="exampleModalLabel">
    </div>

    

    <!-- Modal modificar Servicio en otro html-->
    <div class="modal fade-scale" id="modificarServicio" tabindex="-1" aria-labelledby="exampleModalLabel">
    </div>

</div>




 
{% endblock content %}

{% block extrajs %}

<script type="text/javascript">
    //SCRIPT DE DATATABLE
    const $ = jQuery.noConflict();
    $(document).ready(function () {
        $('#example1').DataTable();
    });</script>
{% endblock extrajs%}