{% extends 'base/base_administrador.html'%}
{% load static %}

{% block header %}
<h5 style="color: #ffffff;">Administrador:{% if administrador %}{{administrador.nombre}} {{administrador.apellido}}{% endif %}</h5>
    {% if administrador.imagen %}
        <img class="imagen-perfil" src="{% static '/media/perfiles/foto-admin.jpg' %}" alt="Imagen del personal">
    {% else %}
        <img class="imagen-perfil" src="{% static '/media/perfiles/perfil1.png' %}" alt="Imagen predeterminada">
    {% endif %}
{% endblock header %}

{% block headerContenido %}
{% endblock headerContenido %}


{% block content %}

<center><h1 class="titulos">ventas correspondientes a {{vendedor.persona}}</h1></center>

<div class="formularioRegion" id="vistaLiquidacion">

    <table id="example1" class="table table-striped table-bordered" style="width:100%">

        <form action="{% url 'core:cargarVentasVendedor' vendedor.id %}" method="post" id="formulario">
            {% csrf_token %}
            <label for="fecha_inicio" style="margin-left: 10px;">Fecha inicio:</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ fecha_inicio }}" required style="margin-left: 10px;">
            
            <label for="fecha_fin" style="margin-left: 10px;">Fecha fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}" required style="margin-left: 10px;">
            
            <input type="submit" name="cargar" id="cargar" value="Cargar ventas" class="btn btn-success" style="margin-left: 10px;">
            
            <button type="button" class="btn btn-success" style="margin-left: 10px;">
                <a href="{% url 'core:limpiar_preferencias_ventasVendedor' vendedor.id %}" class="text-white" style="text-decoration: none;">Limpiar Preferencias</a>
            </button>
        </form>

        <div class="formularioRegion" id="vistaClientes">

            <table id="example1" class="table table-striped table-bordered" style="width:100%">

                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Liquidación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.fecha }}</td>
                        <td>{{ venta.nombre }}</td>
                        <td>{{ venta.apellido }}</td>
                        <td>
                            {% if not venta.liquidacion %}
                                <span class="text-danger">Todavía no se liquidó</span>
                            {% else %}
                                <span class="text-success">Liquidado</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No se encontraron resultados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Liquidación</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </table>
</div>

{% endblock content %}